.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 20px;
    width: fit-content;
    margin-bottom: 10px;
}